.clsLogo {
    font-family: 'Anton', sans-serif;
    color: #fff;
    margin-left: 5vw;
    font-size: 3rem;
}

h2 span {
    color: #21E18C;
}

nav a {
    text-decoration: none;
}


nav {
    background: #1A2634;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 120px;
}

.navCenter {
    justify-self: center;
}



.navCenterSearchDiv{
    background-color: #24323F;
    color: #fff;
    border-radius: 25px;
    display: flex;
    align-items: center;

}

.navCenterSearchDiv input{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    height: 37px;
    width: 300px;
    margin-left: 10px;
   
}

.navCenterSearchDiv img{
    height: 25px;
    width: 25px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: auto;
}

@media only screen and (max-width: 629px) {
    nav{
        grid-template-columns: 1fr;
    }
}